node_modules
build
*.log
out_cli.jpg
data
out_js.jpg
CMakeFiles
.ninja_deps
.ninja_log
CMakeCache.txt
build.ninja
cmake_install.cmake
fisheye.exe
.data/checkboard
node-fisheye.zip
undistorted.jpg
.data
release_*.zip
example/output/IMG-0_undistored.jpg
calib.exe
fuck
libtiff
example/calib/output/DJI_0081.TIF
example/calib/output/DJI_0082.TIF
example/calib/output/DJI_0083.TIF
example/calib/output/DJI_0084.TIF
example/calib/output/DJI_0085.TIF
output.jpg
output.png
