node_modules
build
*.log
out_cli.jpg
fisheye
data
out_js.jpg
CMakeFiles
.ninja_deps
.ninja_log
CMakeCache.txt
build.ninja
cmake_install.cmake
fisheye.exe
.data/checkboard
node-fisheye.zip
undistorted.jpg
.data
release_*.zip
example/output/IMG-0_undistored.jpg
calib
calib.exe
fuck
libtiff
